<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Autómatas Gramaticales</title>

    <link rel="stylesheet" href="css/grid/simple-grid.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/modal.css">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/main.js"></script>

</head>

<body ng-app="myApp" ng-controller="myController">

    <input type="radio" id="mostrar-modal" name="modal" />
    <label for="mostrar-modal">Ver modal</label>
     
    <br>

    <div class="container">

        <h2 class="center">Validate sentences using the verb TO BE</h2>
        <div class="row">

            <div class="col-4 center">
                <div ondrag="DragEventElement(event,'CommonNoun')" ng-repeat="lcn in ListCommonNoun" id="{{lcn._id}}" draggable="true">
                    <div id="text_{{lcn._id}}" class="card stroke orange">{{lcn.name}}</div>
                </div>
                <div ondrag="DragEventElement(event,'PropperNoun')" ng-repeat="lpn in ListPropperNoun" id="{{lpn._id}}" draggable="true">
                    <div id="text_{{lpn._id}}" class="card stroke" style="background-color: #39FF33">{{lpn.name}}</div>
                </div>
            </div>

            <div class="col-4 center">
                <div ondrag="DragEventElement(event,'ToBe')" ng-repeat="tbl in ToBeList track by $index" id="tbl_{{$index}}" draggable="true">
                    <div id="text_tbl_{{$index}}" class="card stroke" style="background-color: #33CEFF">{{tbl}}</div>
                </div>
                <div ondrag="DragEventElement(event,'PersonalPronouns')" ng-repeat="pp in PersonalPronouns track by $index" id="pp_{{$index}}"
                    draggable="true">
                    <div id="text_pp_{{$index}}" class="card stroke" style="background-color: #FF5233">{{pp}}</div>
                </div>
            </div>
            <div class="col-4 center">
                <div ondrag="DragEventElement(event,'Complement')" ng-repeat="lc in ListComplement" id="{{lc._id}}" draggable="true">
                    <div id="text_{{lc._id}}" class="card stroke" style="background-color: #A533FF; ">{{lc.name}}</div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-4">
                <div class="card2" ondrop="DropEventElement(event,'subject')" ondragover="allowDrop(event)">
                    <div style="border-bottom: 2px solid black">Subject</div>
                    <div id="subject" ondrop="DropEventElement()"></div>
                </div>
            </div>
            <div class="col-4">
                <div class="card2" ondrop="DropEventElement(event,'tobe')" ondragover="allowDrop(event)">
                    <div style="border-bottom: 2px solid black">Form of the verb to be in present or past</div>
                    <div id="tobe" ondrop="DropEventElement()"></div>
                </div>
            </div>
            <div class="col-4">
                <div class="card2 epa" ondrop="DropEventElement(event,'complement')" ondragover="allowDrop(event)">
                    <div style="border-bottom: 2px solid black">Complement</div>
                    <div id="complement"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="center">
        <button class="btn_validate" onclick="console.log(SentenceValidate())">Validate</button>
    </div>
    <br>

    <!-- Modal -->
    <input type="radio" id="cerrar-modal" name="modal" />
    <label for="cerrar-modal">Seguir intentado</label>
    <div id="modal">
        <img id="logo" src="https://image.flaticon.com/icons/svg/291/291201.svg" style="height: 250px; width: 250px">
    </div </body>

</html>